/* Element Styling */
body {
	background-color: rgb(50,50,50);
	color: rgb(50,200,50);
	font-family: Consolas;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0;
	border-color: rgb(50,200,50);
	border-background: rbg(50,50,50);
	background-color: rgb(50,50,50);
	color: rgb(50,200,50);
}

caption {
	text-transform: capitalize;
}

/* Typeography */
h1, h2, h3, h4, h5 {
	font-family: Tahoma;
	color: rgb(50,200,50);
}

/* Classes */
.btn {
	border-radius: 0;
	border-color: rgb(50,200,50);
	border-width: 1px;
	background-image: none;
	background-color: rgb(50,50,50);
	color: rgb(50,200,50);
}

.hero-unit {
	background-color: rgb(80,80,80);
	border-radius: 0;
	border-color: rgb(50,200,50);
	color: rgb(50,200,50);
}

.page {
	font-family: Consolas;
}

.center {
	text-align: center;
}

.input_note {
	padding: 0;
	margin-top: 0;
	margin-bottom: 10px;
	color: #888;
	font-size: 0.8em;
	display: block;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	background-color: rgb(80,80,80);
}

.confusion_matrix, .confusion_matrix td, .confusion_matrix th {
	background-color: rgb(80,80,80);
	color: rgb(50,200,50);
}

.confusion_matrix td.confusion_correct {
	background-color: rgb(50,200,50);
	color: rgb(50,50,50);
}
